<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ABS</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>

    <div class="signup-container">
       
        <form action="/login" method="POST" class="form">
            <h1 class="h1">Login Here</h1>
            <div class="input">
                <input type="email" placeholder="Email" name="email" class="username">
            </div>

            <div class="input">
                <input type="password" placeholder="Password" name="password" class="password">
            </div>

            <div class="input">
                <button type="submit" class="sbtn">Login</button>
            </div>
        </form>
    </div>

</body>

</html>