<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABS product </title>
    <link rel="stylesheet" href="product.css">

</head>

<body>
    <div class="heading-container">
        <h1 class="our-product">ABS INFOSYS products</h1>
        <div class="product-nav">
            <button class="nav-btn pg1" onclick="page1()">Computer</button>
            <button class="nav-btn pg2" onclick="page2()">Server</button>
            <button class="nav-btn pg2" onclick="page3()">Router</button>

        </div>
    </div>

   
    <div class="product-container">

        <!--page 1 container-->
        <div class="page1">

            <div class="card-container">
                <div class="card">
                    <div class="card-element">
                        <div class="card-no">1</div>
                        <h3>computer</h3>
                        <h1>Del i3</h1>
                        <div class="about-container">
                            <p class="about">This is a ABS wifi product and it price is Rs 500 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://itti.com.np/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/d/e/dell-inspiron-3511-price-nepal-budget-laptop_2.jpg"
                                alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 500</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">2</div>
                        <h3>computer</h3>
                        <h1>del i5</h1>
                        <div class="about-container">
                            <p class="about">This is a hubs and it price is Rs 600 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://www.jungle.lk/wp-content/uploads/2021/08/Dell-Inspiron-3501-i3-15.6-Inch-FHD-4GB-1TB-11th-Gen-Win-10-Laptop.jpg"
                                alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 77700</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">3</div>
                        <h3>computer</h3>
                        <h1>Macbook pro</h1>
                        <div class="about-container">
                            <p class="about">This product name is RJ45 and it price is Rs350 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/refurb-macbook-air-silver-m1-202010?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1634145618000" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 90000</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">4</div>
                        <h3>computer</h3>
                        <h1>Macbook Air</h1>
                        <div class="about-container">
                            <p class="about">This product name is switch and it price is Rs 700 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDkGKgRu6PT8DDVu4tsOjB7bSu5e-B9SxZYw&usqp=CAU" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 700</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">5</div>
                        <h3>computer</h3>
                        <h1>Asus vivobook i7</h1>
                        <div class="about-container">
                            <p class="about">This product name is RJ45 and it price is Rs350 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://dlcdnwebimgs.asus.com/gain/25cbb020-a860-469e-a084-1b770290d85a/" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 80,000</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">6</div>
                        <h3>computer</h3>
                        <h1>Asus i5</h1>
                        <div class="about-container">
                            <p class="about">This product name is switch and it price is Rs 700 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://dlcdnwebimgs.asus.com/gain/266984eb-62ad-4063-a2c6-435610ad8bc1/" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 70,000</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-element">
                        <div class="card-no">7</div>
                        <h3>computer</h3>
                        <h1>RJ45</h1>
                        <div class="about-container">
                            <p class="about">This product name is RJ45 and it price is Rs350 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://m.media-amazon.com/images/I/71P9Otxc5fL.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 350</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">8</div>
                        <h3>computer</h3>
                        <h1>SWITCH</h1>
                        <div class="about-container">
                            <p class="about">This product name is switch and it price is Rs 700 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://m.media-amazon.com/images/I/71joCjYFxcL.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 700</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--page 2 container-->

        <div class="page2">

            <div class="card-container">
                <div class="card">
                    <div class="card-element">
                        <div class="card-no">1</div>
                        <h3>server</h3>
                        <h1> Tower server</h1>
                        <div class="about-container">
                            <p class="about">This is a ABS wifi product and it price is Rs 500 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoI5Samio9VqefadXTn_yXEe5CXTW0BvNpV58qIJCaLPoODHmgbL88_WWltF0z1i4YRts&usqp=CAU"
                                alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 60,000</h2>
                                <button class="button" >Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">2</div>
                        <h3>server</h3>
                        <h1>ABS switch</h1>
                        <div class="about-container">
                            <p class="about">This is a hubs and it price is Rs 600 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyj9PGLgZMdckLrhwzswTCeGbhExx-wriAvg&usqp=CAU"
                                alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 600</h2>
                                <button class="button" >Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">3</div>
                        <h3>server</h3>
                        <h1>Server connector</h1>
                        <div class="about-container">
                            <p class="about">This product name is RJ45 and it price is Rs350 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://www.shutterstock.com/image-vector/black-glossy-server-260nw-78676729.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 80,050</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">4</div>
                        <h3>server</h3>
                        <h1>RJ45</h1>
                        <div class="about-container">
                            <p class="about">This product name is RJ45 and it price is Rs350 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://m.media-amazon.com/images/I/71P9Otxc5fL.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 350</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">5</div>
                        <h3>server</h3>
                        <h1>computer server</h1>
                        <div class="about-container">
                            <p class="about">This product name is switch and it price is Rs 700 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://5.imimg.com/data5/UD/AO/NL/SELLER-53535570/computer-servers.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 700</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-element">
                        <div class="card-no">6</div>
                        <h3>SWITCH</h3>
                        <h1>SWITCH</h1>
                        <div class="about-container">
                            <p class="about">This product name is switch and it price is Rs 700 only</p>
                        </div>
                        <hr>
                        </hr>

                        <div class="img-order-container">
                            <img src="https://m.media-amazon.com/images/I/71joCjYFxcL.jpg" alt="maagi"></img>
                            <div class="ocontainer">
                                <h2>Rs 700</h2>
                                <button class="button">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <script src="product.js"></script>
</body>

</html>