 <header class="header">
        <h3 class="logo">ABS INFOSYS</h3>
        <nav class="nav-bar">
            <ul class="unorderlist">
                <a href="#">
                    <li class="list">Home</li>
                </a>
                <a href="#about">
                    <li class="list">About</li>
                </a>

                <a href="#work">
                    <li class="list"> Work</li>
                </a>

                 <a href="#contact">
                    <li class="list">Contact</li>
                </a>

                <a href="/Product">
                    <li class="list">Product</li>
                </a>

                <a href="/Signup" target="_blank">
                    <li class="list">Sign up</li>
                </a>

                <a href="/Login" target="_blank">
                    <li class="list">Login</li>
                </a>

            </ul>
        </nav>

        <div class="icons">
            <box-icon class="m-icon" name='menu' color="white"></box-icon>
            <box-icon class="x-icon" name='x' color="white"></box-icon>
        </div>

    </header>